.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
  border-radius: 8px;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
}
.logo {
  height: 80px;
  width: 80px;
}

.card {
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 16px;
}

.card > img {
  width: 100%;
}

.restrauntlist {
  display: flex;
  flex-direction: left;
  flex-wrap: wrap;
}
